
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   user-select: none; 
}

:root{
    --primary-color: #6657f4;
    --second-color: #ffffff; 
    --black-color: #000000;
}

.forgot a{
    text-decoration: none;
    color: var(--second-color);
}
.forgot a:hover{
    text-decoration: underline;
    color: var(--primary-color);

}


/* ===== WRAPPER ===== */

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    position: relative;
    width: 500px;
    padding: 7.5em 2.5em 4em 2.5em;
    background-color: #282840;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}

.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px ;
}

.login-header span {
    font-size: 30px;
    color: white;
}

.login-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px; 
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #4CAF50;
}

.login-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px; 
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #4CAF50;
}

.closes{
    position: absolute;
    right: 0;
    top: 0;
}

.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    color:white;
    padding-inline: 20px 50px;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    outline: none;
}

#username{
    margin-bottom: 10px;
}

.label{
    position: absolute;
    color: black;
    font-weight: bold;
    top: 15px;
    left: 20px;
    transition: .2s ease-in-out;
}

input[type = "password"],
input[type = "text"]{
    width: 100%;
    height: 55px;
    font-size: 16px;
    color:black;
    padding-inline: 20px 50px;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    outline: none;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: #4CAF50;
    border-radius: 30px;
    color: white;
    padding: 0 10px;

}

.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.remember{
    cursor: pointer;
}

.input-submit{
    width: 100%;
    height: 50px;
    background: #6657f4;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.input-submit:hover{
    background: #1d0db2;
}

.register{
    text-align: center;
}

.register a{
    color: var(--second-color);
    text-decoration: none;
}

.register a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.registera{
    color: #6657f4;
}

@media only screen and (max-width: 564px) {
    .wrapper{
        padding: 20px;
    }
    .login-box{
        padding: 7.5em 1.5em 4em 2.5em;
    }
}


